<html>
  <head>
    <style>
      /* put styles for markdown_record generated html here*/
    </style>
  </head>
  <body>
    <%= link_to_markdown_record_html(::MarkdownRecord::ContentFragment.find(frag_id)) %>
    <%= link_to("asdf", "asdf") %>
    <%= html %>
  </body>
</html>