<style>

  .file {
    padding: 10px;
    border: 1px solid #cc4400;
    margin-bottom: 10px;
  }

</style>

<div class="file">
  <%= raw(html) %>
  <%= raw("<!--#{subdirectory}/#{filename}-->") %>
  <p class="rendered_at"><em>The above content was rendered from source files at: <%= link_to_markdown_record_html(fragment, fragment.id) %></em></p>
</div>